<div class="container-fluid padding-left-0 padding-right-0">
    <div class="row title-container">
        <div class="row title title-text">
            <p>Model X</p>
        </div>

        <div class="row" style="height:80vh;">
            
        </div>
        <div class="row">
            <div class="col-xs-4" style="text-align:right;">
                <div class="row" style="margin-right:80px;">
                    <img src="assets/speedometer.png" width="50" height="50"> 
                    <span class="info-text" style="position: absolute;color:white;">2.6 s</span>
                </div>
                <div class="row">
                    <span class="info-subtext" style="color: white;">0-100 km/h</span>
                </div>
            </div>
            <div class="col-xs-4" style="text-align: center;">
                <div class="row">
                    <span class="info-text" style="color: white;"> 536 km</span>
                </div>
                <div class="row">
                    <span class="info-subtext" style="color: white;">Range (WLTP)</span>
                </div>
            </div>
            <div class="col-xs-4" style="text-align: left;">
                <div class="row">
                    <span class="info-text" style="color: white;"> AWD</span>
                </div>
                <div class="row">
                    <span class="info-subtext" style="color: white;">Dual Motor</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="assets/tesla_modelx_info.png" style="width:100%;">
    </div>
</div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-5" style="margin-left:40px;margin-top:5vh;">
        <div class="row">
            <div class="col-xs-6">
                <span class="info-text"><b>Built for Safety</b></span>
            </div>
        </div>
        <div class="row safety-text">
            <span class="">
                Safety is the most important part of the overall Model X design.<br>
                 The metal structure is a combination of aluminum and steel, for <br>
                 maximum strength in every area. In a roof-crush test, Model X <br>
                 resisted four times its own mass, even with an all-glass roof: <br>
                 that's the same weight as two full-grown African elephants.
            </span>
        </div>
        <div class="row">
            <img src="assets/safety-rating.png" style="margin-left:40px;margin-top:40px;">
        </div>
    </div>
    <div class="col-xs-6">
        <img src="assets/tesla_safety.png" class="safety-img">
    </div>
</div>


<div class="container-fluid padding-left-0 padding-right-0">
    <div class="row title-container">
        <div class="row title interior-text">
            <p style="color: black;margin-left:-160px;">Interior</p>
        </div>

        
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11" style="margin-top:60vh;">
                <div class="row" style="margin-right:80px;">
                    <span class="interior-info-text" style="position: absolute;color:white">17 inch</span>
                </div>
                <div class="row">
                    <span class="interior-info-subtext" style="color:white;">A touchscreen display designed to improve over time</span>
                </div>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <div class="row">
                    <span class="interior-info-text" style="color:white;"> WIFI</span>
                </div>
                <div class="row">
                    <span class="interior-info-subtext" style="color:white;">Over-the-air software updates introduce new features, functionality and performance</span>
                </div>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <div class="row">
                    <span class="interior-info-text" style="color:white;"> ROOF</span>
                </div>
                <div class="row">
                    <span class="interior-info-subtext" style="color:white;">An expansive Glass Roof provides more headroom and UV protection</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="assets/tesla_models_interior.jpg" style="width:100%;">
    </div>
</div>


<div class="container-fluid padding-left-0 padding-right-0">
    <div class="row title-container">
        <div class="row title title-text">
            <p>Quickest Acceleration</p>
        </div>

        <div class="row" style="height:80vh;">
            
        </div>
        <div class="row">
            <div class="col-xs-4" style="text-align:center;">
                <div class="row" style="margin-right:80px;">
                    <img src="assets/speedometer.png" width="50" height="50"> 
                    <span class="interior-info-text" style="position: absolute;margin-bottom:25px;">2.6 s</span>
                </div>
                <div class="row">
                    <span class="interior-info-subtext">Quickest acceleration—from 0 - 100 km/h*<br> in as little as 2.6 seconds</span>
                </div>
            </div>
            <div class="col-xs-4" style="text-align: center;">
                <div class="row">
                    <span class="interior-info-text"> 322 km/h</span>
                </div>
                <div class="row">
                    <span class="interior-info-subtext">Improved handling and aerodynamics<br> allow for a top speed of 322 km/h</span>
                </div>
            </div>
            <div class="col-xs-4" style="text-align: center;">
                <div class="row">
                    <span class="interior-info-text"> AWD</span>
                </div>
                <div class="row">
                    <span class="interior-info-subtext">Dual Motor All-Wheel Drive instantly <br>controls traction and torque, in all weather<br> conditions</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="assets/tesla_modelx_accelerate.png" style="width:100%;">
    </div>
</div>

<div class="row" style="margin-bottom:20px;margin-top:5vh;">
    <div class="col-xs-6">
        <img src="assets/tesla_supercharger.png" class="safety-img">
    </div>
    <div class="col-xs-5" style="margin-left:40px;margin-top:2vh;">
        <div class="row">
            <div class="col-xs-6">
                <span class="info-text"><b>Go Anywhere</b></span>
            </div>
        </div>
        <div class="row safety-text">
            <span class="">
                Model X is fully electric, so you never need to visit a gas station again.<br>
                 If you charge overnight at home, you can wake up to a full battery every morning. <br>
                 And when you’re on the road, it’s easy to plug in along the way—at any public <br>
                 station or with the Tesla charging network. We currently have over 30,000 Superchargers<br>
                  worldwide, with six new locations opening every week.
            </span>
        </div>
    </div>
    
</div>

