
<div class="container-fluid padding-left-0 padding-right-0" >
    <div class="row" style="text-align: center;">
        <span class="title-text">TESLA</span>
        
    </div>
    <img src="assets/tesla_model3.png" style="width:100%;position: absolute;">

    <div class="row" style="position: absolute;width: 100%;text-align: center;margin-top: 80vh;">
        <div class="col-xs-3">
            <button routerLinkActive="active" routerLink="/showroom" class="btn btn-default button-homepage">
                See our models>
            </button>
        </div>
       
    </div>
</div>