<nav class="navbar navbar-default" style="margin-bottom:0!important;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand padding-0" routerLink="">
            <img src="assets/tesla_logo.png" width="200" height="50">
        </a>
      </div>
      <ul class="nav navbar-nav" >
        <li style="width:20vw;"><a></a></li>
        <li routerLinkActive="active"><a routerLink="/homepage" >Home</a></li>
        <li routerLinkActive="active"><a routerLink="/showroom">Showroom</a></li>
        <li routerLinkActive="active"><a routerLink="/model3">Model 3</a></li>
        <li routerLinkActive="active"><a routerLink="/models">Model S</a></li>
        <li routerLinkActive="active"><a routerLink="/modelx">Model X</a></li>
        <li routerLinkActive="active"><a routerLink="/modely">Model Y</a></li>
      </ul>
    </div>
  </nav>