<nav class="navbar navbar-default" style="margin-bottom:0!important;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand padding-0" routerLink="">
            <img src="assets/tesla_logo.png" width="200" height="50">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/homepage" >Home</a></li>
        <li routerLinkActive="active"><a routerLink="/showroom">Showroom</a></li>
      </ul>
    </div>
  </nav>